In [13]:
# import pandas and rename as pd
import pandas as pd

In [14]:
# set the path to our file
path = 'sothebys_dataset.csv'
# convert our csv file to a pandas DataFrame
dataset = pd.read_csv(path)

In [15]:
# print out our pandas DataFrame
dataset

,Unnamed: 0,price,artist,title,yearCreation,signed,condition,period,movement
0,0,28.500 USD,Tommaso Ottieri,Bayreuth Opera,2021,Signed on verso,This work is in excellent condition.,Contemporary,Baroque
1,1,3.000 USD,Pavel Tchelitchew,Drawings of the Opera,First Half 20th Century,Signed and titled,Not examined out of frame.No obvious signs of ...,Post-War,Surrealism
2,2,5.000 USD,Leo Gabin,Two on Sidewalk,2016,"Signed, titled and dated on verso",This work is in excellent condition.,Contemporary,Abstract
3,3,5.000 USD,Matthias Dornfeld,Blumenszene,2010,"Signed, titled and dated on the reverse with t...",This work is in excellent condition.There is m...,Contemporary,Abstract
4,4,2.500 USD,Alexis Marguerite Teplin,Feverish Embarkation,2001,Signed on verso,This work is in excellent condition.,Contemporary,Abstract
...,...,...,...,...,...,...,...,...,...
749,749,680 USD,Jane Kent,Miracle Grow #17,2012,Signed and dated on lower right.,Not examined out of frame.No obvious signs of ...,Contemporary,Abstract
750,750,1.275 USD,Gary Bower,Rolph Series,1970,[nan],Not examined out of frame.Significant undulati...,Contemporary,Geometric Abstraction
751,751,680 USD,Jane Kent,Untitled,2012,[nan],Not examined out of frame.No apparent imperfec...,Contemporary,Geometric Abstraction
752,752,1.275 USD,T. L. Solien,Juniper,1986,[nan],Not examined outside of frame.Pinholes at edge...,Contemporary,Abstract
753,753,680 USD,John Duff,Untitled Print,1975,"Signed, dated and numbered in pencil.",Not examined out of frame.Scattered surface sc...,Modern,Geometric Abstraction

In [16]:
# we can use dot notation, because we are using the pandas library AND
# no space in the column
artist = dataset.artist

In [17]:
# print the first value in our data
artist[0]

'Tommaso Ottieri'

In [38]:
# check what data type this is
type(artist[0])

str

In [19]:
len(dataset.artist.unique())

455

In [36]:
# importing a gender detecting tool to guess my artist's gender
# pip install gender-guesser
import gender_guesser.detector as gender
d = gender.Detector()
print(d.get_gender(u"Leo"))
print(d.get_gender(u"Jane"))
print(d.get_gender(u"Jane Kent"))
# this does not work with multiple names, such as surnames so we will have to turn the artist column into a list
# and use only the first value
# of course this will not work for instances such as "T. L. Solien"

male
female
unknown

In [44]:
first_name = []
name for name in first_name:
    full_name = dataset['artist'].split(' ')
    full_name.append(name)

SyntaxError: invalid syntax (2560390098.py, line 2)

In [ ]:
first_names = []
for x in range(0,754):
    name = str(dataset['artist'].values[x]).split(' ', 1)[0]
    first_names.append(name)
# lowercase everything
first_names = [k.lower() for k in first_names]
# capitalize the first letter of every name
first_names = [i.capitalize() for i in first_names]
# %%time
genders = []
for i in first_names[0:len(first_names)]:
    if d.get_gender(i) == 'male':
        genders.append('male')
    elif d.get_gender(i) == 'female':
        genders.append('female')
    else:
        genders.append('unknown')